.asm-faq{
    padding: 50px 0;

    h4{
        font-size: 15px;
        font-weight: 500;
        color: #212529;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        text-align: center;
    }
    
    h2{
        font-size: 36px;
        font-weight: 600;
        color: #212529;
        text-align: center;
    }
}

.asm-faq-item{
    background-color: #f2f3f6;
    padding: 20px;
    border: 1px solid #f2f3f6;
}

.asm-faq-item+.asm-faq-item{
    margin-top: 10px;
}

.asm-faq-queston{
    color: #212529;
    cursor: pointer;
    user-select: none;

    h3{
        font-size: 16px;
        font-weight: 600;
    }
}

.asm-faq-answer{
    padding-top: 20px;

    p, ul{
        font-size: 15px;
        line-height: 30px;
    }
}