<section class="asm-faq">
  <div class="asm-container">
    <h4>{{small_title}}</h4>
    <h2>{{ title }}</h2>
      {% for faq in list %}
        <div class="asm-faq-item">
          <div class="asm-faq-queston">
            <h3>{{ faq.question|e }}</h3>
          </div>
          <div class="asm-faq-answer" style="display: none;">{{ faq.answer|e('wp_kses_post') }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>